<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15"><%= t('.main_text') %></h1>

  <%= render "form", person: @person, text: t('.create_article') %>
  <%= link_to t('.back'), people_path, class: 'btn btn-outline-dark' %>
</div>
