<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15">Изменить памятник</h1>
  <%= render "form", monument: @monument, text: 'Сохранить' %>

  <%= link_to "Назад", @monument, class: 'btn btn-outline-dark' %>
</div>
