<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15"><%= t('.new_article') %></h1>

  <%= render "form", monument: @monument, text: t('.create_article') %>
  <%= link_to t('.back'), monuments_path, class: 'btn btn-outline-dark' %>
</div>
