<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15">Изменить информацию о работе</h1>
  <%= render "form", person: @person, artwork: @artwork, text: 'Сохранить' %>

  <%= link_to "Назад", person_artwork_path(@person, @artwork), class: 'btn btn-secondary' %>
</div>
