<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15">Добавить работу</h1>

  <%= render "form", person: @person, artwork: @artwork, text: 'Добавить работу' %>
  <%= link_to "Назад", person_artworks_path, class: 'btn btn-secondary' %>
</div>

