<%= render 'shared/header' %>

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center body-width center-cont"
  >
  <div class="container-fluid">
    <hr />
    <div class="container">
      <p class="text-teal">
        Витебск - один из древнейших городов Республики Беларусь, самый
        северный областной город, крупный административный, промышленный и
        культурный центр.
      </p>
      <p class="text-teal">
        Витебск имеет выгодное географическое положение, так как он
        расположен на путях из России в Прибалтийские государства, из
        Прибалтики в южные районы России, на Украину, страны Центральной и
        Западной Европы.
      </p>
      <p class="text-teal">
        Город имеет обширную долгую историю, большое количество
        памятников, свою культуру. В нашем городе проводятся различные
        фестивали, мероприятия и развлечения.
      </p>
      <p class="text-teal">
        Наш город славится нашими героями войны, художниками, писателями.
      </p>
    </div>
    <hr />
    <blockquote class="blockquote">
      <p>
        Вообще, Витебск имеет вид довольства и благосостояния. Во всём
        порядок. На улицах видны красивые экипажи и порядочно одетые люди. В
        лавках много товару, вообще русских фабрик. Домы выкрашены, крыши в
        исправности. На каждом шагу заметно попечение о благоустройстве,
        боковые улицы застроены чистыми и красивыми деревянными домами.
        Католические костелы, как гиганты, стоят между частными зданиями.
        Фасады этих костелов принадлежат к италиянской архитектуре. Вкус
        греческий смешан с готическими формами. Эта архитектура мне
        чрезвычайно нравится, и я не могу налюбоваться на костелы.
      </p>
      <footer class="blockquote-footer">
        Ф. Булгарин. «Путевые заметки на поездку из Дерпта в Белоруссию и
        обратно весной 1835 года»
      </footer>
    </blockquote>
  </div>
</div>
