<%= render 'shared/header' %>

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center body-width center-cont"
  >
  <div class="container-fluid text-justify">
    <h1 class="text-center">Добро пожаловать</h1>
    <hr />
    <div class="container">
      <p>
        Как и большинство древних городов Восточной Европы, Витебск возник у слияния двух рек - Западной Двины, несущей свои воды в Балтийское море и Витьбы, от которой и пошло название города. 
      </p>
      <p>
        Согласно легенде, город был заложен киевской княгиней Ольгой в 974 году и в древнерусских летописях упоминается с 1021 года. Расположенный на перекрестке важнейших торговых путей древности («из варяг в греки» и Великого Волжского (Булгарского), к концу XII веку Витебск превращается в центр ремесла и торговли, становится центром удельного княжества, подчиняющегося Полоцким, а временами, Смоленским князьям. 
      </p>
      <p>
        На Замковой горе находилась резиденция князя, а ниже жил люд попроще - торговцы и ремесленники. Уже в XII веке в городе был построен первый каменный храм – православная Свято-Благовещенская церковь, где хранились эталоны мер веса и длинны, используемые при торговых операциях; переписывались книги, летописи; обучались дети.      </p>
    </div>
    <hr />
    <blockquote class="blockquote">
      <p>
        Вообще, Витебск имеет вид довольства и благосостояния. Во всём
        порядок. На улицах видны красивые экипажи и порядочно одетые люди. В
        лавках много товару, вообще русских фабрик. Домы выкрашены, крыши в
        исправности. На каждом шагу заметно попечение о благоустройстве,
        боковые улицы застроены чистыми и красивыми деревянными домами.
        Католические костелы, как гиганты, стоят между частными зданиями.
        Фасады этих костелов принадлежат к италиянской архитектуре. Вкус
        греческий смешан с готическими формами. Эта архитектура мне
        чрезвычайно нравится, и я не могу налюбоваться на костелы.
      </p>
      <footer class="blockquote-footer text-end">
        Ф. Булгарин. «Путевые заметки на поездку из Дерпта в Белоруссию и
        обратно весной 1835 года»
      </footer>
    </blockquote>
  </div>
</div>
