<%= render 'shared/header' %>

<h1>Изменить место</h1>

<%= render "form", building: @building %>

<br>

<div>
  <%= link_to "Назад", @building %> |
  <%= link_to "Все места", buildings_path %>
</div>
