<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15">Изменить место</h1>
  <%= render "form", building: @building, text: 'Сохранить' %>

  <%= link_to "Назад", @building, class: 'btn btn-secondary' %>
</div>
