<%= render 'shared/header' %>
<div class="container d-flex flex-column align-items-center">
  <h1 class="text-center my-15">Новая статья о месте</h1>

  <%= render "form", building: @building, text: 'Создать статью' %>
  <%= link_to "Назад", buildings_path, class: 'btn btn-secondary' %>
</div>

